## Transform for Machine Learning

In [1]:
import pandas as pd
# import matplotlib.pylab as plt
import matplotlib.pyplot as plt
from datetime import datetime
%matplotlib inline
import numpy as np

In [2]:
df = pd.read_csv('Resources/data2_transform_assault_group1.csv')
df.head()

,Unnamed: 0,Booking_year_month,Booking_month,DOB_month,lat,lon,Age<25,Age26-50,Age>50,Summer,...,day_of_week_Monday,day_of_week_Tuesday,day_of_week_Wednesday,day_of_week_Thursday,day_of_week_Friday,day_of_week_Saturday,day_of_week_Sunday,CityRN_FOREIGN,CityRN_HOMELESS,CityRN_MIAMI
0,0,2015-05,70,118,463.009197,-1265.778238,3,7,4,0,...,0,0,0,0,3,4,7,0,3,5
1,1,2015-06,792,940,4604.906087,-12229.070070,13,91,28,0,...,22,13,23,24,19,20,11,3,38,65
2,2,2015-07,994,942,4945.943302,-13122.614296,18,92,32,142,...,14,13,29,28,23,21,14,2,52,54
3,3,2015-08,1224,1013,5414.426473,-14310.878013,15,112,26,153,...,24,17,20,20,18,22,32,5,43,68
4,4,2015-09,1089,803,4301.937710,-11302.902729,11,84,26,121,...,13,22,23,24,13,10,16,5,44,46

In [3]:
# Add column of integers based on Booking_year_month to convert the table after
df['month_index'] = np.arange(len(df))+1

In [4]:
# df.head()

In [5]:
df['Booking_year_month_original'] = df['Booking_year_month']

In [6]:
df.columns

Index(['Unnamed: 0', 'Booking_year_month', 'Booking_month', 'DOB_month', 'lat',
       'lon', 'Age<25', 'Age26-50', 'Age>50', 'Summer', 'Spring', 'Winter',
       'Autum', 'total_crime', 'day_of_week_Monday', 'day_of_week_Tuesday',
       'day_of_week_Wednesday', 'day_of_week_Thursday', 'day_of_week_Friday',
       'day_of_week_Saturday', 'day_of_week_Sunday', 'CityRN_FOREIGN',
       'CityRN_HOMELESS', 'CityRN_MIAMI', 'month_index',
       'Booking_year_month_original'],
      dtype='object')

In [7]:
i = 1
for index, row in df["month_index"].iteritems():
    if int(row) == i:
        df.loc[index, 'total_crime_1'] = df.iloc[i-2]['total_crime']   #1 months earlier
    if int(row) == i:
        df.loc[index, 'age<25_1'] = df.iloc[i-2]['Age<25']
    if int(row) == i:
        df.loc[index, 'age26-50_1'] = df.iloc[i-2]['Age26-50']
    if int(row) == i:
        df.loc[index, 'age>50_1'] = df.iloc[i-2]['Age>50']
    if int(row) == i:
        df.loc[index, 'day_of_week_Monday_1'] = df.iloc[i-2]['day_of_week_Monday']
    if int(row) == i:
        df.loc[index, 'day_of_week_Tuesday_1'] = df.iloc[i-2]['day_of_week_Tuesday']
    if int(row) == i:
        df.loc[index, 'day_of_week_Wednesday_1'] = df.iloc[i-2]['day_of_week_Wednesday']
    if int(row) == i:
        df.loc[index, 'day_of_week_Thursday_1'] = df.iloc[i-2]['day_of_week_Thursday']
    if int(row) == i:
        df.loc[index, 'day_of_week_Friday_1'] = df.iloc[i-2]['day_of_week_Friday']
    if int(row) == i:
        df.loc[index, 'day_of_week_Saturday_1'] = df.iloc[i-2]['day_of_week_Saturday']
    if int(row) == i:
        df.loc[index, 'day_of_week_Sunday_1'] = df.iloc[i-2]['day_of_week_Sunday']
    if int(row) == i:
        df.loc[index, 'summer_1'] = df.iloc[i-2]['Summer']
    if int(row) == i:
        df.loc[index, 'spring_1'] = df.iloc[i-2]['Spring']
    if int(row) == i:
        df.loc[index, 'winter_1'] = df.iloc[i-2]['Winter']
    if int(row) == i:
        df.loc[index, 'autum_1'] = df.iloc[i-2]['Autum']
    if int(row) == i:
        df.loc[index, 'CityRN_FOREIGN_1'] = df.iloc[i-2]['CityRN_FOREIGN']
    if int(row) == i:
        df.loc[index, 'CityRN_HOMELESS_1'] = df.iloc[i-2]['CityRN_HOMELESS']
    if int(row) == i:
        df.loc[index, 'CityRN_MIAMI_1'] = df.iloc[i-2]['CityRN_MIAMI']
        
        
        i = i + 1

In [8]:
df.head()

,Unnamed: 0,Booking_year_month,Booking_month,DOB_month,lat,lon,Age<25,Age26-50,Age>50,Summer,...,day_of_week_Friday_1,day_of_week_Saturday_1,day_of_week_Sunday_1,summer_1,spring_1,winter_1,autum_1,CityRN_FOREIGN_1,CityRN_HOMELESS_1,CityRN_MIAMI_1
0,0,2015-05,70,118,463.009197,-1265.778238,3,7,4,0,...,11.0,16.0,11.0,0.0,109.0,0.0,0.0,10.0,46.0,37.0
1,1,2015-06,792,940,4604.906087,-12229.070070,13,91,28,0,...,3.0,4.0,7.0,0.0,14.0,0.0,0.0,0.0,3.0,5.0
2,2,2015-07,994,942,4945.943302,-13122.614296,18,92,32,142,...,19.0,20.0,11.0,0.0,132.0,0.0,0.0,3.0,38.0,65.0
3,3,2015-08,1224,1013,5414.426473,-14310.878013,15,112,26,153,...,23.0,21.0,14.0,142.0,0.0,0.0,0.0,2.0,52.0,54.0
4,4,2015-09,1089,803,4301.937710,-11302.902729,11,84,26,121,...,18.0,22.0,32.0,153.0,0.0,0.0,0.0,5.0,43.0,68.0

In [9]:
# df.to_csv("Resources/df_ml_1_categories.csv",index=True,header=True)

In [10]:
# Drop innecesary columns
df.drop(['Unnamed: 0','Age<25','Age26-50','Age>50','Booking_month','Summer','Spring','Winter','Autum','day_of_week_Monday','day_of_week_Tuesday','day_of_week_Wednesday','day_of_week_Thursday',\
        'day_of_week_Friday','day_of_week_Saturday','day_of_week_Sunday','CityRN_FOREIGN','CityRN_HOMELESS','CityRN_MIAMI','month_index','Booking_year_month_original',\
        'lat','lon'], axis=1, inplace=True)

In [11]:
# df.head()

In [12]:
df.drop(df.index[[0,1,2]], inplace=True)

In [13]:
df.head()

,Booking_year_month,DOB_month,total_crime,total_crime_1,age<25_1,age26-50_1,age>50_1,day_of_week_Monday_1,day_of_week_Tuesday_1,day_of_week_Wednesday_1,...,day_of_week_Friday_1,day_of_week_Saturday_1,day_of_week_Sunday_1,summer_1,spring_1,winter_1,autum_1,CityRN_FOREIGN_1,CityRN_HOMELESS_1,CityRN_MIAMI_1
3,2015-08,1013,153,142.0,18.0,92.0,32.0,14.0,13.0,29.0,...,23.0,21.0,14.0,142.0,0.0,0.0,0.0,2.0,52.0,54.0
4,2015-09,803,121,153.0,15.0,112.0,26.0,24.0,17.0,20.0,...,18.0,22.0,32.0,153.0,0.0,0.0,0.0,5.0,43.0,68.0
5,2015-10,1057,156,121.0,11.0,84.0,26.0,13.0,22.0,23.0,...,13.0,10.0,16.0,121.0,0.0,0.0,0.0,5.0,44.0,46.0
6,2015-11,774,114,156.0,16.0,92.0,48.0,13.0,16.0,21.0,...,18.0,26.0,23.0,0.0,0.0,0.0,156.0,4.0,46.0,75.0
7,2015-12,891,129,114.0,4.0,81.0,29.0,18.0,18.0,25.0,...,13.0,17.0,8.0,0.0,0.0,0.0,114.0,3.0,42.0,52.0

In [14]:
# Change seasons values to determine wchich months belongs to each season 
for index, row in df["summer_1"].iteritems():
    if int(row) >0:
        df.loc[index, 'summer_1'] = 1 
    else:
        df.loc[index, 'summer_1'] = 0

for index, row in df["spring_1"].iteritems():
    if int(row) >0:
        df.loc[index, 'spring_1'] = 1 
    else:
        df.loc[index, 'spring_1'] = 0
        
for index, row in df["winter_1"].iteritems():
    if int(row) >0:
        df.loc[index, 'winter_1'] = 1 
    else:
        df.loc[index, 'winter_1'] = 0

for index, row in df["autum_1"].iteritems():
    if int(row) >0:
        df.loc[index, 'autum_1'] = 1 
    else:
        df.loc[index, 'autum_1'] = 0

In [15]:
for index, row in df["summer_2"].iteritems():
    if int(row) >0:
        df.loc[index, 'summer_2'] = 1 
    else:
        df.loc[index, 'summer_2'] = 0

for index, row in df["spring_2"].iteritems():
    if int(row) >0:
        df.loc[index, 'spring_2'] = 1 
    else:
        df.loc[index, 'spring_2'] = 0
        
for index, row in df["winter_2"].iteritems():
    if int(row) >0:
        df.loc[index, 'winter_2'] = 1 
    else:
        df.loc[index, 'winter_2'] = 0

for index, row in df["autum_2"].iteritems():
    if int(row) >0:
        df.loc[index, 'autum_2'] = 1 
    else:
        df.loc[index, 'autum_2'] = 0

KeyError: 'summer_2'

In [ ]:
for index, row in df["summer_3"].iteritems():
    if int(row) >0:
        df.loc[index, 'summer_3'] = 1 
    else:
        df.loc[index, 'summer_3'] = 0

for index, row in df["spring_3"].iteritems():
    if int(row) >0:
        df.loc[index, 'spring_3'] = 1 
    else:
        df.loc[index, 'spring_3'] = 0
        
for index, row in df["winter_3"].iteritems():
    if int(row) >0:
        df.loc[index, 'winter_3'] = 1 
    else:
        df.loc[index, 'winter_3'] = 0

for index, row in df["autum_3"].iteritems():
    if int(row) >0:
        df.loc[index, 'autum_3'] = 1 
    else:
        df.loc[index, 'autum_3'] = 0

In [ ]:
# Drop innecesary columns
df.drop(['DOB_month'], axis=1, inplace=True)

In [ ]:
df.head()

In [ ]:
# Save final dataset ready to apply Machine Learning
df.to_csv("Resources/data3_load_assault_group_to_ML_one_month_behind.csv",index=True,header=True)