In [40]:
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import numpy as np
import os

In [41]:
df = pd.read_csv('jailbook_cleaned.csv')
df.head()

,Unnamed: 0,Defendant,Address,Zip,City,State,Crime_Family,Crime_Family1,Crime_Family2,Booking_year,...,Booking_day,Booking_Date,DOB_year,DOB_month,DOB_day,Date_of_birth,Age,day_of_week,Age_Crime,CityRN
0,1,"DITAS, MICHAEL",7484 NW 169 TERR,NaN,MIAMI,FL,"THEFT, ROBBERY, AND RELATED CRIMES",ASSAULT & BATTERY,PERSONAL CRIME,2015,...,5,6/5/2015,1982,2,17,2/17/1982,37,Friday,33,MIAMI
1,4,"DORSEY, JOHN",651 NW 177TH STREET 101,NaN,MIAMI GARDENS,FL,ALCOHOL PROHIBITION,DRUGS & ALCOHOL,STATUTORY CRIME,2015,...,5,6/5/2015,1985,4,11,4/11/1985,34,Friday,30,MIAMI
2,16,"GAITOR, RASHAD ZAROSHUA",UNKNOWN,NaN,MIAMI,FL,WARRANT,MISCELLANEOUS CRIMES,OTHER,2015,...,5,6/5/2015,1991,8,19,8/19/1991,27,Friday,23,MIAMI
3,24,"WILLIAMS, ALAN J",UNKNOWN,NaN,MIAMI,FL,ALCOHOL PROHIBITION,DRUGS & ALCOHOL,STATUTORY CRIME,2015,...,3,6/3/2015,1964,4,28,4/28/1964,55,Wednesday,51,MIAMI
4,29,"WYNTER, KALONJI ABAYOMI",HOMELESS,NaN,HOMELESS,FL,WARRANT,MISCELLANEOUS CRIMES,OTHER,2015,...,3,6/3/2015,1977,5,19,5/19/1977,42,Wednesday,38,HOMELESS

In [42]:
target = df["CityRN"]
target_names = ["Miami", "Homeless", "Foreign"]

In [43]:
data = df.drop(["CityRN", "City", "Unnamed: 0", "Defendant", "Address", "Zip"], axis = 1)
feature_names = data.columns
data.head()

,State,Crime_Family,Crime_Family1,Crime_Family2,Booking_year,Booking_month,Booking_day,Booking_Date,DOB_year,DOB_month,DOB_day,Date_of_birth,Age,day_of_week,Age_Crime
0,FL,"THEFT, ROBBERY, AND RELATED CRIMES",ASSAULT & BATTERY,PERSONAL CRIME,2015,6,5,6/5/2015,1982,2,17,2/17/1982,37,Friday,33
1,FL,ALCOHOL PROHIBITION,DRUGS & ALCOHOL,STATUTORY CRIME,2015,6,5,6/5/2015,1985,4,11,4/11/1985,34,Friday,30
2,FL,WARRANT,MISCELLANEOUS CRIMES,OTHER,2015,6,5,6/5/2015,1991,8,19,8/19/1991,27,Friday,23
3,FL,ALCOHOL PROHIBITION,DRUGS & ALCOHOL,STATUTORY CRIME,2015,6,3,6/3/2015,1964,4,28,4/28/1964,55,Wednesday,51
4,FL,WARRANT,MISCELLANEOUS CRIMES,OTHER,2015,6,3,6/3/2015,1977,5,19,5/19/1977,42,Wednesday,38

In [44]:
# Use Pandas get_dummies to convert categorical data

### BEGIN SOLUTION
data = pd.get_dummies(data)
data.head()
### END SOLUTION

,Booking_year,Booking_month,Booking_day,DOB_year,DOB_month,DOB_day,Age,Age_Crime,State_FL,Crime_Family_ABUSE OF CHILDREN,...,Date_of_birth_9/9/1996,Date_of_birth_9/9/1998,Date_of_birth_9/9/1999,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday
0,2015,6,5,1982,2,17,37,33,1,0,...,0,0,0,1,0,0,0,0,0,0
1,2015,6,5,1985,4,11,34,30,1,0,...,0,0,0,1,0,0,0,0,0,0
2,2015,6,5,1991,8,19,27,23,1,0,...,0,0,0,1,0,0,0,0,0,0
3,2015,6,3,1964,4,28,55,51,1,0,...,0,0,0,0,0,0,0,0,0,1
4,2015,6,3,1977,5,19,42,38,1,0,...,0,0,0,0,0,0,0,0,0,1

In [45]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [46]:
# Support vector machine linear classifier
from sklearn.svm import SVC 
model = SVC(kernel='linear')

In [47]:
# Create the GridSearch estimator along with a parameter object containing the values to adjust
from sklearn.model_selection import GridSearchCV
param_grid = {'C': [1, 5, 10],
              'gamma': [0.0001, 0.001, 0.01]}
grid = GridSearchCV(model, param_grid, verbose=3)

In [ ]:
# Fit the model using the grid search estimator. 
# This will take the SVC model and try each combination of parameters
grid.fit(X_train, y_train)

C:\Users\cmuiz\Anaconda3\envs\PythonData\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

Fitting 3 folds for each of 9 candidates, totalling 27 fits
[CV] C=1, gamma=0.0001 ...............................................

In [ ]:
# List the best parameters for this dataset
print(grid.best_params_)

In [ ]:
# List the best score
print(grid.best_score_)

In [ ]:
# Make predictions with the hypertuned model
predictions = grid.predict(X_test)

In [ ]:
# Calculate classification report
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions,
                            target_names=["blue", "red"]))